<% following.forEach((follow) => { %>
<div class="d-flex">
  <div>
    <img
      src="<%= follow.image %>"
      alt="Profile picture default"
      style="width: 40px; height: 40px"
      class="rounded-circle m-0 mt-1"
    />
  </div>
  <div class="mb-3 flex-fill mx-2">
    <dl class="m-0 fs-5 fw-bold"><%= follow.firstname %> <%= follow.lastname %></dl>
    <dd class="m-0">@<%= follow.username %></dd>
  </div>
  <div class="mb-3 d-flex align-items-center">
    <% if(loggedUser.id !== follow.id) { %> 
      <% if(follow.following.includes(loggedUser.id)) { %>
        <form method="post" action="/usuarios/<%=follow.id%>/follow"?_method="PATCH">
          <button
            type="submit"
            class="btn btn-login rounded-pill p-1"
            style="
              width: 90px;
              color: black;
              border-color: rgb(196, 196, 196);
              background-color: rgb(255, 255, 255);
            "
          >
            Following
          </button>
        </form>
      <% } else { %>
        <form method="post" action="/usuarios/<%=follow.id%>/follow"?_method="PATCH">
          <button type="submit" class="btn btn-login rounded-pill p-1" style="width: 90px">
            Follow
          </button>
        </form>
      <% } %> 
     <% } %>
  </div>
</div>
<% }) %>
