<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <section class="container">
      <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-2">
          <%- include("../partials/sidebar") %>
          <!-- Contenido de la primera columna -->
        </div>

        <div class="col-md-11 col-lg-7 col-xl-7">
          <div class="border pt-4 px-4">
            <div class="d-flex align-items-center">
              <div>
                <div>
                  <a href="/usuarios/<%=user.id%>"
                    ><i class="fa-solid fa-arrow-left" style="color: black"></i
                  ></a>
                </div>
              </div>
              <div class="mx-4">
                <div>
                  <h1 class="fs-4 m-0"><%- user.firstname %> <%- user.lastname %></h1>
                </div>
                <div>
                  <p class="fs-5">@<%- user.username %></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <div
                class="border-bottom border-4"
                style="border-color: var(--color-principal) !important"
              >
                <h2 class="mb-2 fs-5">
                  <a
                    style="text-decoration: none; color: black"
                    href="/usuarios/<%=user.id%>/followers"
                    >Followers</a
                  >
                </h2>
              </div>

              <div>
                <div>
                  <h2 class="mb-2 fs-5">
                    <a
                      style="text-decoration: none; color: black"
                      href="/usuarios/<%=user.id%>/following"
                      >Following</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="border border-top-0 p-3"><%- include("../partials/userFollowers") %></div>
        </div>
        <div class="d-none d-lg-block col-md-4 col-xl-3">
          <!-- Contenido de la tercera columna -->
          <%- include("../partials/staticSidebar") %>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
