<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <section class="container">
      <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-2">
          <%- include("../partials/sidebar") %>
          <!-- Contenido de la primera columna -->
        </div>
        <div class="col-md-11 col-lg-7 col-xl-7">
          <%- include("../partials/newTweet") %> <%- include("../partials/tweetList",{profile}) %>
          <div class="d-flex">
            <% if (page>1) {%>
            <a
              class="btn btn-login rounded-pill mt-2 mb-3"
              style="background-color: var(--color-principal)"
              href="/?page=<%=page - 1 %>"
              >Previous</a
            >

            <%} %> <% if (!(lastPage)) {%>
            <a
              class="btn btn-login rounded-pill mt-2 mb-3"
              style="background-color: var(--color-principal)"
              href="/?page=<%=page + 1 %>"
              >Next</a
            >
            <%} %>
          </div>
        </div>
        <div class="d-none d-lg-block col-md-4 col-xl-3">
          <!-- Contenido de la tercera columna -->
          <%- include("../partials/staticSidebar") %>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
