<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <section class="container">
      <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-2">
          <%- include("../partials/sidebar") %>
          <!-- Contenido de la primera columna -->
        </div>
        <div class="col-md-11 col-lg-7 col-xl-7">
          <%- include("../partials/userCard.ejs") %> <%-
          include("../partials/tweetList.ejs",{profile}) %>
        </div>
        <div class="d-none d-lg-block col-md-4 col-xl-3">
          <!-- Contenido de la tercera columna -->
          <%- include("../partials/staticSidebar") %>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
